body {
    background-color: lavender;
}

header{
    display: grid;
    justify-items: center;
}
header img{
    background-color: skyblue;
    width: 75%;
    
}

body{
font-family: monospace;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 100px 20px;
    grid-gap: 50px;
    grid-template-areas: 
    "title . . ."
    "sect sect sect sect "
    ;
    margin: 20px;
    justify-content: center;
    
}

select{
    grid-area: title;
}

section {
   grid-area: sect;
}

#form-ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20px 100px 20px;
    
    grid-template-areas: 
    "form form form"
    "ul ul ul ul";
}

form{
    grid-area: form;
}

ul{
    grid-area: ul;
}